<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>headIcon0</string>
		<key>name</key>
		<string>xuanYun</string>
		<key>title</key>
		<string>眩晕</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon1</string>
		<key>name</key>
		<string>daXiao</string>
		<key>title</key>
		<string>大笑</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon2</string>
		<key>name</key>
		<string>xiaoMeng</string>
		<key>title</key>
		<string>小萌</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon3</string>
		<key>name</key>
		<string>yinShen</string>
		<key>title</key>
		<string>隐身</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon4</string>
		<key>name</key>
		<string>pangTou</string>
		<key>title</key>
		<string>胖头</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon5</string>
		<key>name</key>
		<string>tanTang</string>
		<key>title</key>
		<string>瘫躺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon6</string>
		<key>name</key>
		<string>taoTou</string>
		<key>title</key>
		<string>套头</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon7</string>
		<key>name</key>
		<string>keAi</string>
		<key>title</key>
		<string>可爱</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon8</string>
		<key>name</key>
		<string>shuYe</string>
		<key>title</key>
		<string>树叶</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon9</string>
		<key>name</key>
		<string>qinQin</string>
		<key>title</key>
		<string>亲亲</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon10</string>
		<key>name</key>
		<string>paShen</string>
		<key>title</key>
		<string>爬绳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon11</string>
		<key>name</key>
		<string>suMiao</string>
		<key>title</key>
		<string>素描</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>headIcon12</string>
		<key>name</key>
		<string>kuMao</string>
		<key>title</key>
		<string>酷帽</string>
	</dict>
</array>
</plist>
